<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jean Jeanie</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../static/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/app.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../static/css/blueimp-gallery.min.css">

</head>

<body id="page-top" class="index">
<div id="wrapper">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">

            <a class="navbar-brand" href="#page-top" style="color: #FFD6AA;font-size: 25px;border-right: 2px solid;">JJ</a>
        </div>
        <img class="camera" src="../static/img/Camera.svg" style="height: 25px;top: 13px;position: absolute;right: 248.5px;">
        <img class="shop" src="../static/img/ShoppingCart.svg" style="height: 26px;top: 13px;position: absolute;right: 129px;">
        <img class="profile" src="../static/img/Profile.svg" style="height: 30px;top: 11px;position: absolute;right: 11px;">
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                    <span id="size" class="h3"></span>
            </br>
                <span id="size2" class="h1"></span>
                    </br>
                    <span class="h3">Here are a few jeans we found that will fit you perfectly:</span>



            </div>
        </div>
        <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <div>
            <span class="h3">If you have a particular brand in mind, try searching:</span>
            <div class="input-group">
                <input class="form-control" style="text-align:center;font-size:25px;border:none;height:50px;background:transparent;box-shadow: inset 0 -1px 0px;" type="text" placeholder="Search for a brand..." id="brandInput">
                <span class="input-group-addon" style="background: transparent;border: none;padding: 0px;margin: 0px;">
                    <img src="../static/img/loupe.svg" style="height: 35px;background: transparent;padding: 0px;margin: 0px;">
                </span>
            </div>
        </div>
    </div>
</header>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
<div id="links">
    <a href="../static/img/jeans1.jpg" title="Jean 1">
</a><a href="../static/img/jeans2.jpg" title="Jean 2">
</a><a href="../static/img/jeans3.jpg" title="Jean 3">
</a>
</div>
<div class="alert alert-success fade show" role="alert">
    Your jeans have been successfully submitted!
</div>
<!-- jQuery -->
<script src="../static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="../static/js/app/app.js"></script>

<script src="../static/js/lib/underscore.js"></script>
<script src="../static/js/lib/backbone.js"></script>
<script>
    $(document).ready(function(){
        var h = Math.round(location.href.substring(location.href.indexOf('?w')+3, location.href.lastIndexOf('&')), 2);
        var w = Math.round(location.href.substring(location.href.indexOf('&h')+3));
        if(!Number.isNaN(w)&& !Number.isNaN(h)&&w>10&&w<50&&h>10&&h<50){
            $('#size').text("Your Perfect Size has been calculated:  ");
            $('#size2').text(h.toString()+ " X " + w.toString())}
        else
            $('#size').text("We could not calculate your Perfect Size.  Please try again!");


    });
</script>

<script src="../static/js/blueimp-gallery.min.js"></script>

<script>
    $(window).load(function(){
        $(".alert").alert('show')    });
    var links = ["http://www.yahoo.com","http://www.amazon.com","http://www.google.com"];
    var gallery = blueimp.Gallery(
        document.getElementById('links').getElementsByTagName('a'),
        {
            container: '#blueimp-gallery-carousel',
            carousel: true
        }
    );
    $('#blueimp-gallery-carousel').on('click',function(){window.location=links[gallery.getIndex()]});
</script>
<script>
    var last = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);
$(document).ready(function(){$('#wrapper').fadeIn();});
    $('.input-group-addon').on('click',function(){window.location.href = window.location.href.replace(last, "store.html");});

    $('.camera').on('click',function(){window.location.href = window.location.href.replace(last, "upload.html");});
    $('.shop').on('click',function(){window.location.href = window.location.href.replace(last, "store.html");});
    $('.profile').on('click',function(){window.location.href = window.location.href.replace(last, "persistprofile.html");});
</script>
</div></body>

</html>
